<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.misconstructed.jogiyo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBgU2WtdtNbRq30Dm3CkYVCs7GvcAm3Jwg" />

        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:label="Sign Up"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/SignUp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".MyMapActivity"
            android:exported="true"
            android:label="My Map"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_id" />

        <activity
            android:name=".AddActivity"
            android:label="My Map"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreferencesActivity"
            android:exported="true"
            android:label="Preferences"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CheckInActivity"
            android:exported="true"
            android:label="Check In"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".Receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".Service.LocationService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>